[Unit]
Description=Counter of items in trash folder
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/Counter.py -u %i
User=%i


[Install]
WantedBy=multi-user.target